AZURE_TENANT_ID=00000000-0000-0000-0000-000000000000
AZURE_CLIENT_ID=00000000-0000-0000-0000-000000000000
AZURE_CLIENT_SECRET=replace-with-client-secret-value

SHAREPOINT_SITE_URL=https://1xqy71.sharepoint.com/sites/ShankySP
SHAREPOINT_LIST_NAME=Prompt List

PROMPT_ID_FIELD=PromptId
TITLE_FIELD=Title
PROMPT_TEXT_FIELD=PromptText

HTTP_HOST=0.0.0.0
HTTP_PORT=8080
